#node-article-7, #node-article-10 {
    margin-top:4em;
}
.container-12 {
    margin: 0 auto auto 40px !important;
}

/* default bg */
body.i18n-de { background: url(../images/2015_bg001.jpg) no-repeat fixed; }
body.i18n-fr { background: url(../images/2015_bg001-fr.jpg) no-repeat fixed; }
/* dthema / contexte */
body.page-node-3.i18n-de { background: url(../images/2015_bg004.jpg) no-repeat fixed; }
body.page-node-29.i18n-fr { background: url(../images/2015_bg004-fr.jpg) no-repeat fixed; }
/* faq */
body.page-node-2.i18n-de { background: url(../images/2015_bg003.jpg) no-repeat fixed; }
body.page-node-11.i18n-fr { background: url(../images/2015_bg003-fr.jpg) no-repeat fixed; }
/* jury */
body.page-node-184.i18n-de { background: url(../images/2015_bg002.jpg) no-repeat fixed; }
body.page-node-191.i18n-fr { background: url(../images/2015_bg002-fr.jpg) no-repeat fixed; }
/* clips */
body.page-cliplist.i18n-de { background: url(../images/2015_bg005.jpg) no-repeat fixed; }
body.page-cliplist.i18n-fr { background: url(../images/2015_bg005-fr.jpg) no-repeat fixed; }



#region-postscript-first {
    background:white;
    width:588px !important;
    margin-right:2px !important;
    margin-left:2px !important;
    padding: 24px 24px 0;
    margin-top:4px;
}
#region-postscript-first table td {
    padding:4px;
}

#region-postscript-first h2 {
    font-size:18px;
}



.front .region-sidebar-first { margin-top:200px; }
.page-node-3 .region-sidebar-first { margin-top:400px; }





.password-strength,
.password-suggestions { display:none !important }

p#regprefix { margin:2em 0;color:#005380;padding:1em 0;border-top:1px solid #005380; border-bottom: 1px solid #005380}

#block-ca-vote-ca-vote h2 {
	font-size: 32px;
	margin:0 0 .5em 0; padding:0;
	color:#005380;
}
.flagcontent {
	color:#005380;
	padding-bottom: 1.5em;
}

#loggedin {margin-top:10px}

#flaglogin {
	padding: 1.5em 0 0em;
	text-align:center;
}

.page-cliplist #flaglogin,
.node-type-videoclip #flaglogin {
	display:none
}
.votecnt {
	font-size:18px;
}

#block-ca-vote-ca-vote {
	margin: 1em 0 1em;
	border-top: 4px solid #005380;
	border-bottom: 4px solid #005380;
	padding: 1em 0 0em;
}

body.front #block-ca-vote-ca-vote {
	border-bottom: 0;
}

p.moreinfo {
	display:none;
	border-top: 4px solid #005380;
	color: #005380; padding: 1.5em 0 0;
}

body.front p.moreinfo {
	display:block;
}

.page-cliplist #block-ca-vote-ca-vote {
	margin: 1.85em;
}

body.node-type-videoclip .submitted {
	margin: -4px 4px 2em 0; 

	}
body.node-type-videoclip .float { float }
body.node-type-videoclip .user-picture {float:left; margin-right: 2em}

#udata {line-height: 1.35em;padding:0;font-size:12px;float:left; width:280px; color:#777777; }
#fblink {padding:0px 0 0 0;float:left; width:142px; }
#votebox {
	padding:0;
	float:right; 
	width:170px;
	}
#votebox:hover {}
.voteblock {
	height:60px;
	padding-top: 12px
	}
.votecount {
	float:left; 
	width:68px; 
	font-size: 11px; 
	line-height:1em; 
	text-align:center;
	-moz-box-shadow:inset 0px 1px 0px 0px #cc3348;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cc3348;
	box-shadow:inset 0px 1px 0px 0px #cc3348;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8d0e1d), color-stop(1, #a6172a) );
	background:-moz-linear-gradient( center top, #8d0e1d 5%, #a6172a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d0e1d', endColorstr='#a6172a');
	background-color:#8d0e1d;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	border:1px solid #7d1926;
	color: white;
	height: 48px
	}
	.flag-wrapper { font-size:0px }
.votelink {float:right;  height:100%}
.votelink a, .votelink a:visited, .votelink a:link { 
	width: 97px;
	color:white; 
	display:block; 
	text-align:center;
	float:right;
	padding:0;
	line-height: 48px;
	height: 48px;
	color:#ffffff;
	font-family:helvetica, arial;
	font-size:18px;
	text-decoration:none;
	}
.votelink a:hover { text-decoration:underline }
.votenr { display:block;font-size:21px; line-height: 28px;padding-top:4px }





.view-cliplist .voteblock { width: 124px; float:right  }
.view-cliplist .votecount { 
	width: 40px; 
	height: 40px
	}
.view-cliplist .votelink {   }
.view-cliplist .votenr { 
	line-height: 18px;
	font-size:16px;
	padding-top:4px;
	}
.view-cliplist .votelink a:link, .view-cliplist .votelink a:visited { 
	font-size:16px; 
	height: 40px;
	line-height: 40px;
	padding:0;
	width: 79px;
	}

.votelink a:link, .votelink a:visited, .votelink a:active {
	-moz-box-shadow:inset 0px 1px 0px 0px #cc3348;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cc3348;
	box-shadow:inset 0px 1px 0px 0px #cc3348;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8d0e1d), color-stop(1, #a6172a) );
	background:-moz-linear-gradient( center top, #8d0e1d 5%, #a6172a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d0e1d', endColorstr='#a6172a');
	background-color:#8d0e1d;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	border:1px solid #7d1926;
	text-shadow:1px 1px 0px #c7243a;
}

.votelink a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a6172a), color-stop(1, #8d0e1d) );
	background:-moz-linear-gradient( center top, #a6172a 5%, #8d0e1d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6172a', endColorstr='#8d0e1d');
	background-color:#a6172a;
}

/* .votelink a:link { display:none } */

.votecount {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	float:right
	}


.titleandname {  padding-right: 12px; float:left; width: 145px; font-size: 13px; line-height: 1.35em; }
.titleandname h4 {  font-size: 14px;line-height: 15px; }
.ytimg {border-bottom:3px solid #ccc;}




.submitted .float {
}
.submitted .float-inner {
	padding:1em;
}
.submitted #udata .float-inner {
	padding: 1em 0 0 0;
}



#homebox {
    
    padding: 12px;
    background:#e9e9e9
}
#sogehts {
    padding: 12px;
    color:#005380;
    font-size: 1.15em;
    }
#sogehts h3 {
    margin-top:.5em;
    }
#sogehts a {
    border-bottom:1px dotted #005380;
    }
.bubblediv {
    }
.bubblediv h3 {
    margin-top: .5em;
     padding-left:12px;
    }
.bubblediv p {
    color:#005380; margin-top:.5em;
    }
.bubble {
    background:#005380; color:#fff;
    width:105px;
    height:63px;
    float:left;
    text-align:center;
    -webkit-border-radius: 55px;    
     border-radius: 55px;    
    -moz-border-radius:55px;
    -khtml-border-radius55px;
    padding-top: 42px;
    margin-right: 9px;
    margin-top:1em;
    border-top: 1px solid #005380;
    border-bottom: 1px solid #005380;
    border:0;
    }
.bubble.last {
    margin-right:0
    }
#bubblemore div {
    margin: .5em 0 .75em;
    }
#bubblemore div {
    line-height: 1.35em;
    font-weight:normal;
    padding: 12px; 
    color:#005380;
    font-weight:bold; font-size: 1.15em;
    }
#bubble1 { padding-top:35px; height:70px }
.i18n-fr #bubble3 { padding-top:35px; height:70px }
.cycle-pager-active { background-color:#8D0E1D }
.cycle-slide {z-index:2 !important;}
#tip {
    background: #005380; color:#ffffff;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* universal */
    padding: 12px
}


body {
    background:#ffffff;
    font-size: 14px;
    margin:0
    }
    
body, h1, h2, h3, h4, h5, h6, p {
    font-family: helvetica, arial, sans-serif;
    line-height:1.35em;
}

p {margin-bottom:0 0 1em}
h3 {color:#005380;margin:1.5em 0 .75em;font-size:18px}
dt {font-size: 1em}

a:link, a:visited { color: #8D0E1D; text-decoration: none;}
a:hover { color: #005380; text-decoration: none; }
a:active { color: #005380; text-decoration: none; }


/* header / branding / logo */
#zone-branding .branding-data { text-align:center; }
.logo-img {float:none;margin:0}

#section-header { margin-top: 1em }
.region { min-height: 0;}

/* language switcher */
#block-locale-language {  height:23px;padding: 4px 12px 0 }
#block-locale-language h2 { display:none; }
#block-locale-language a.language-link { text-align: center; }
ul.language-switcher-locale-url a {
    display:inline-block;
    list-style:none;
    padding: 0 .5em 0;
    border-left:1px solid #e9e9e9;
    }
ul.language-switcher-locale-url {
    display:inline;
    margin:1em 0 0 0;
    }
ul.language-switcher-locale-url li.first { border-left:0px; }
#block-locale-language a:link, #block-locale-language a:visited { color: #bbb; text-decoration: none;}
#block-locale-language a.active, #block-locale-language a:hover {color:#005380}
#block-locale-language, #block-locale-language li a.active { color: #bbb; text-decoration: none; }


/* main-menu */
#region-menu {  }
#region-menu .navigation {  }
#zone-menu { margin-bottom:0 }
#zone-menu li a{ display:inline-block;line-height: 19px;padding-bottom:8px }
#zone-menu .navigation { text-align:right;}
#main-menu { margin-bottom:0;font-size: 18px; font-weight:bold}
#main-menu a:link, #main-menu a:visited { color: #8D0E1D; text-decoration: none;}
#main-menu li a.active, #main-menu a:hover { color: #005380; text-decoration: none; }

#section-header {margin-bottom:4px}
h2.element-invisible {margin:0}

/* 960.gs plagen.. */
.region-content,
#region-menu  {
    background: #fff url('../images/menubg.png') no-repeat;
    width:588px !important;
    margin-right:2px !important;
    margin-left:2px !important;
    padding: 24px;
    }
.page-teilnehmer-alle .region-content {
    width:100% !important;
    margin-right:0px !important;
    margin-left:0px !important;
    padding: 0px;
    }
body.page-cliplist .region-content {
    width:100% !important;
    margin-right:0px !important;
    margin-left:0px !important;
    padding: 0px;
    }
.region-content {background-image:none}
#region-menu {
    padding-top: 0; padding-bottom:0;
    margin-top:0;
    padding-bottom:0
    }
#region-branding  { 
    width:636px !important;
    margin-right:2px !important;
    margin-left:2px !important; 
    }
.region-sidebar-first,
.region-user-first {
    width:292px !important;
    margin-right:2px !important;
    margin-left:2px !important;
    padding: 0;
    margin-bottom:0
    }
.region-user-first {
    background:transparent;
    padding: 0;
    position:relative;
    }
.region-user-first-inner {
    background:#fff;
    padding: 0;
    position:absolute;top:0px;
    }
.region-user-first-inner {
    position:absolute;top:0px;
    }
.region-user-first-inner .block,
.region-sidebar-first-inner .block {
    background:#fff;
    padding:12px;
}



/* sidebar general */

.block-inner h2 {color:#005380;margin:1.5em 0 1em;font-size:1.143em}
.region-sidebar-first h3 {
    color:#000;
    }



.region-sidebar-first .block {margin-bottom:.5em;padding-bottom:1.5em}
.region-sidebar-first .block-4 {border:0;}
body.page-user-login .block-4 {border-bottom: 1px solid #666;}
.region-sidebar-first .block-4 p {margin:0;}
.region-sidebar-first .block-4 p.regp {margin-top:1em;}
h2.block-title {margin-top:1em}
.region-sidebar-first .block-login h2 {display:none}



#block-block-1 {margin-top:2em}



.toboggan-unified.login #register-form {
    display: block;
    float:right;
    margin: 0;
    width:290px
}

.toboggan-unified.login #login-form {
    float: left;
     margin: 0;
     width:290px
}

.toboggan-unified.login #login-form .description,
.toboggan-unified.login #register-form .description {
    display:none;
}

.toboggan-unified.login #register-form #edit-field-wb .description {
    margin:1em 0 0;
}
#edit-field-wb label.option { display:block }

.toboggan-unified.login textarea, 
.toboggan-unified.login select, 
.toboggan-unified.login input[type="email"], 
.toboggan-unified.login input[type="password"], 
.toboggan-unified.login input[type="text"] {
    width:280px
}

.toboggan-unified.login .password-strength {
    display:none;
}

.toboggan-unified.login .password-confirm {
    float:none;
    margin-top: 0;
}

.toboggan-unified #login-message {
    font-size: 1em;
    text-align: left;
    margin: .5em 0 1em;
}

div.form-item div.password-suggestions {
    width:268px;
}
div.form-item div.password-suggestions li {
    list-style-position: inside;
}

.fb-social-like-plugin {
    padding: 1em 0
    }

.block-5 h3 {
    margin-bottom:0;font-size:1em;
    }
#block-fb-social-ca-likebox {
    height:450px
    }
    
h2.node-title { font-size:1.714em;margin:0 0 .5em}
.field-name-field-video {margin-bottom:1.5em}

/* ckeditor styles */
p.nomargin { margin-bottom:0px }

h1#page-title { color:#005380; font-size:21px }
label { font-weight:normal; }


#messages { margin:0 0 0 2px;width:956px}
div.status { background-color: #d7e0e5; }
div.error, div.status {border: 8px solid #fff;}
div.status, .ok { color: #005380; }

div.profile .field-label, div.profile .field-items, div.profile .field-item { display:inline }


button, input[type="reset"], 
input[type="submit"], 
input[type="button"], 
#edit-field-clip a.button, 
a#clipupload,
#edit-field-clip a.upload-toyoutube, 
.loginlink {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background: #005380 url(../images/button.png) repeat-x;
    background: -moz-linear-gradient(center top , #8ab2c8 0%, #005380 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8ab2c8), color-stop(1, #005380));
    border-color: #9ab3c0 #678799 #003653;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font: bold 12px/1.2 Arial,sans-serif;
    outline: 0 none;
    overflow: visible;
    padding: 4px 10px 5px;
    text-shadow: 0 1px 1px #527e96;
    width: auto;
    *padding-top: 2px; /* IE7 */
  *padding-bottom: 0px; /* IE7 */
}
a.loginlink {color:#fff}


a#clipupload {width:292px;font-size: 1.35em;text-align:center}
#edit-field-clip a.button { 
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border-width: 1px;
  border-color: #DDDDDD #BBBBBB #999999;
  color: #666;
  text-shadow: 0 1px 1px #e9e9e9;
  margin-top:0;
  *padding-top: 2px; /* IE7 */
  *padding-bottom: 0px; /* IE7 */
 }
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-image: none;
  background: #005380;
  background: -moz-linear-gradient(center top , #005380 0%, #005380 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005380), color-stop(1, #005380));
}
#edit-field-clip a.button:hover { 
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #ccc));
  background: -moz-linear-gradient(top center, #eee 0%, #ccc 100%);

 }
 
p.fett { font-weight:bold }
body.page-frontpage p.fett { margin-top:1em }


/* Partner */
#block-block-7 td {color:#999;font-size:13px}
#block-block-7 p {padding:0 0 0 1em;margin-top:1em}
#block-block-9 td {color:#999;font-size:13px}
#block-block-9 p {padding:0 0 0 1em;margin-top:1em}
sup {vertical-align:super;font-size:smaller}

/* Block Add Clip */
#block-views-dein-clip-block { border:0 }


table {border:0;margin:0}
td {padding:0;}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active  {background:transparent}

div.twitterit {margin-left:1em;display:inline-block;vertical-align: text-bottom}

.field-name-field-image {margin-bottom:1em}


/* upload-form */
form .description {margin-top:.5em;line-height:1.35em}

#videobeitrag-node-form #edit-body .field-edit-link {display:none}
#videobeitrag-node-form #edit-body-und-0-format {display:none}
#videobeitrag-node-form input#edit-preview {display:none}

label {margin-bottom:.35em}
#videobeitrag-node-form .form-wrapper {margin:2em 0}

#edit-field-ytupload-und-0-upload-button {/* display:none */}


span#accept {cursor:pointer;color:#8D0E1D;text-decoration:underline}
.form-item-profile-main-field-wb-und .description {display:none}
.form-item-profile-main-field-wb-und label {width:auto}

.form-item-name .description, 
.form-item-mail .description,
.form-item-pass .description {display:none}

ul.primary li a {
    padding-top: 6px; 
    padding-bottom: 3px;
    background:#efefef
    }
ul.primary  {
    padding: 3px 0 3px 0;
    }


/* #toboggan-login li.first { display:none } */
#toboggan-login li { margin-left:0; font-size:12px }

p.regp {
    margin-top:1em;
}

.view-cliplist {padding: 0px 12px 24px }
.node-type-videoclip .view-cliplist {padding: 24px 0 24px}
body.node-type-videoclip .region-content {width:908px !important}
.view-cliplist h4 { font-size: 1em;  margin:1em 0 0 0;padding:0}
.ytitem { position:relative; padding: 0 12px;float:left; width:288px;height:268px}
.ytitem .u21 {
	position:absolute; 
	right: 148px;
	top: 148px;
	color:white;
	background: #8D0E1D;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	width: 28px; height:28px;
	text-align:center;
	font-size:11px;font-weight:bold;
	line-height: 28px;
	z-index:2;
	}
.ytimg { width:288px;height:163px;overflow:hidden; position:relative; }
.ytimg a {float:left}
.ytimg img { width:292px;height:auto;position:absolute; top:-28px }

.node-videoclip {padding:24px 0 0 14px;background:#e9e9e9 }
body.node-type-videoclip .ytimg  {height:160px; }
body.node-type-videoclip .ytimg img { width:288px; height:auto;position:absolute; top:-28px }
body.node-type-videoclip .ytitem { padding: 0 11px;}
body.node-type-videoclip .ytitem.first { padding-left:0;  }
body.node-type-videoclip .ytitem.last { padding-right:0; }

body.node-type-videoclip .view-header { display:none }
body.page-cliplist .view-header { margin-bottom:2em; }

.ytmeta {padding: 0}
body.page-cliplist h1#page-title {padding:24px 24px 0}

body.node-type-videoclip .field-name-body {margin-top: 1em}


body.page-frontpage h1#page-title { display:none }

.page-cliplist .view-header { margin: 0 12px }

body.page-frontpage .views-row {margin-bottom:3em;}

a.clbutton {
	margin: 0 130px;
	-moz-box-shadow:inset 0px 1px 0px 0px #cc3348;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cc3348;
	box-shadow:inset 0px 1px 0px 0px #cc3348;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8d0e1d), color-stop(1, #a6172a) );
	background:-moz-linear-gradient( center top, #8d0e1d 5%, #a6172a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d0e1d', endColorstr='#a6172a');
	background-color:#8d0e1d;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:24px;
	border:1px solid #7d1926;
	display:inline-block;
	color:#ffffff;
	font-family:helvetica, arial;
	font-size:24px;
	font-weight:normal;
	padding:12px 76px;
	text-decoration:none;
	text-shadow:1px 1px 0px #c7243a;
}
a.clbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a6172a), color-stop(1, #8d0e1d) );
	background:-moz-linear-gradient( center top, #a6172a 5%, #8d0e1d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6172a', endColorstr='#8d0e1d');
	background-color:#a6172a;
}
a.clbutton:active {
	position:relative;
	top:1px;
}

a.clbutton.vote {
	margin:0; padding: 12px 32px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}




/* This imageless css button was generated by CSSButtonGenerator.com */

.field-name-field-slides .field-item { float:left; margin: 0 6px 12px}

#ss-form ul.ss-choices, #ss-form ul.ss-choices li {list-style:none;list-style-type:none;display:inline;padding-right:2em}
#ss-form input[type="radio"],#ss-form input[type="checkbox"], #ss-form label.ss-choice-label { display:inline;width:auto }
#ss-form{clear:left; font:14px Helvetica,Arial,sans-serif; margin-top:1.25em}
	#ss-form input {text-indent: 2%;width:100%;border: 1px solid #999999;padding:4px 0;background:#fff; color:#005380; font:12px Helvetica,Arial,sans-serif;}
	#ss-form label {margin-bottom:3px;display:block}
	.ss-form-entry {padding: 0 0 .75em 0}
	#ss-form input#subbtn {
        background-color: #AAAAAA;
        border: 0 none;
        border-radius: 4px 4px 4px 4px;
        clear: both;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        height: 32px;
        line-height: 32px;
        margin: 0 5px 10px 0;
        padding: 0 22px;
        text-align: center;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
        margin-top:.5em;
        text-indent: 0;
    }
    #ss-form input#subbtn:hover {
        background-color: #777;
    }
    #success {line-height:1.5em;margin-top:1em;display:none;color:#cc0000;font-size: 110%;
        font-weight:bold;}
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    #mc_embed_signup div#mce-responses {
        clear: both;
        float: left;
        margin: 0;
        overflow: hidden;
        padding: 0;
        top: -1.6em;
        width: 100%;
    }
    #ss-form input.needsfilled {color:#cc0000;}
    /* IE6 */
    * html .clearfix {
      height: 1%;
    }
    /* IE7 */
    *:first-child + html .clearfix {
      min-height: 1%;
    }
    #mlistbox {margin-bottom:1em}
    
    .leftbox {float:left;clear:left;width:54%;
        color: #005380;
        font-size: 110%;
        font-weight:bold;
        line-height:1.5
    }
    .rightbox {float:right;clear:right;width:42%}

    
    .node-videoclip-form .filter-help,
    .node-videoclip-form .filter-guidelines {
        display:none;
    }
    