/* $Id$ */

/**
 * @file
 * CSS for Video Upload admin page
 */
tr.video-upload-orphaned.odd, tr.video-upload-orphaned.even,
tr.video-upload-orphaned.odd a, tr.video-upload-orphaned.even a {
  background-color: #ffcdcd;
  color: #000000;
}

.video-upload-admin tr, .video-upload-admin td { 
  padding: 0px .75em;
}

/**
 * Status messages
 */
tr .video-upload-status { 
  display: block;
  padding: 5px;
  text-align: center;
}
tr .video-upload-status-bad { 
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 120%;
}
tr .video-upload-status-ok, tr .video-upload-status-ok-synced { 
  background-color: #0d9e0d;
  color: #ffffff;
}
